.image-avatar {
  width: 250px;
  height: 250px;
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
}

.gallery-button {
  margin-top: 1em;
  width: 65%;
}

.character-title {
  text-align: center;
}

.icon-label {
  flex-direction: row;
  box-sizing: border-box;
  display: flex;
  place-content: center flex-start;
  align-items: center;

  p,
  a {
    margin-left: 1em;
  }
}

.mat-chip-list-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 1em;
}
