.image-avatar {
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: top center;
  border-radius: 50%;
}

.image-presentation {
  max-width: 80px;
}

.image-presentation-label {
  text-align: center;
}

::ng-deep .mat-chip-list-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: -4px;
  justify-content: center;
}
