body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-background {
  background: var(--color-primary-dark);
  color: #fff;
}

.app-container {
  margin: 2em;
}

.app-container-lt-md {
  margin: 1em;
}

.app-card {
  margin: 1em;
}

.app-card:hover {
  background: var(--color-primary);
}
