body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-background {
  background: var(--color-primary-dark);
  color: #fff;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.w-100 {
  height: auto;
  width: 100%;
}

.container-character {
  align-items: center;
  margin: 3em;
}
