/** Contents **/

.gallery-current {
  position: relative;
  display: flex;
  flex-direction: column;
}

.next {
  margin-right: 0.5em;
  position: absolute;
  align-self:flex-end;
  top: 50%;
  opacity: 0.4;
}

.prev {
  margin-left: 0.5em;
  position: absolute;
  align-self:flex-start;
  top: 50%;
  opacity: 0.4;
}

.prev:hover,
.next:hover {
  opacity: 1 !important;
}

/** Images **/

.gallery-current-image,
.gallery-selector-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.gallery-selector-image {
  opacity: 0.4;
}

.gallery-selector-image:hover {
  opacity: 1;
}
