<div fxLayout="column">
  <div class="gallery-current">
    <img class="gallery-current-image" [src]="currentValue.url">
    <button class="prev" mat-mini-fab color="primary" (click)="next()">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <button class="next" mat-mini-fab color="primary" (click)="prev()">
      <mat-icon class="myIcon">navigate_next</mat-icon>
    </button>
  </div>

  <div *ngIf="selector" fxLayout="row wrap" fxLayoutGap="grid">
    <div fxFlex="20" *ngFor="let image of datasource; index as i">
      <img class="gallery-selector-image" [src]="image.url" (click)="selectImage(i)">
    </div>
  </div>
</div>
